# App config
/app/config/parameters.yml
/app/Resources/contao/config/runonce.php

# Generated folders
/assets/
/files/
/node_modules/
/system/
/templates/
/var/
/vendor/
/web/layout/

# Symlinked resources
/web/.htaccess
/web/assets
/web/bundles
/web/files
/web/share
/web/system

# Deployment
/.mage_logs
